.hero-bg{
    background-image: url(../images/hero-img.png);
    background-repeat: no-repeat;
    width: 610px;
    height: 642px;
}

.hamburger-menu{
    width: 25px;
    height: 25px;
    display: none;
}

.footer-btn{
    right: 45px;
}

.close-menu{
    display: none;
}

@media only screen and (max-width: 1024px) {

    .head-btn {
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .hamburger-menu {
        display: block;
    }

    .hero-bg{
        background-image: url(../images/hero-media-img.png);
        background-repeat: no-repeat;
        width: 397px;
        height: 530px;
    }

    .title{
        font-family: Work Sans;
        font-size: 38px;
        font-weight: 600;
        line-height: 45.6px;
    }

    .text {
        max-width: 325px;
        font-family: Work Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 22.4px;
    }

    .hero-btn{
        width: 320px;
        height: 60px;
        font-family: Work Sans;
        font-size: 22px;
        font-weight: 600;
        line-height: 30.8px;
    }
}

@media only screen and (max-width: 810px){

    .hero{
        flex-direction: column;
        margin: 0 auto;
    }

    .hero-bg{
        background-image: url(../images/hero-bg-phone.png);
        background-repeat: no-repeat;
        width: 375px;
        height: 232px;
        margin-bottom: 0px;
    }

    .title {
        font-family: Work Sans;
        font-size: 38px;
        font-weight: 600;
        line-height: 45.6px;
    }

    .text{
        font-family: Work Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 22.4px;
    }

    .hero-btn{
        width: 320px;
        height: 60px;
        font-family: Work Sans;
        font-size: 22px;
        font-weight: 600;
        line-height: 30.8px;
    }

    .footer-btn{
        display: none;
    }

    .bnt-wrapper{
        margin-bottom: 40px;
    }

    .list{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .footer-wrapper{
        flex-direction: column;
    }
}